
<!-- Total balance -->
<div class="row">
  <div class="col">
    <h5 class="text-secondary"> <%= user.id != current_user.id ? "#{user.name} Total Balance: " : "Your Total Balance: "%> <span class="<%= total_balance < 0 ? "text-danger" : "text-success"%>"> $ <%= total_balance %> </span> </h5>
  </div>
</div>

<!-- Total you owe -->
<div class="row">
  <div class="col">
    <h5 class="text-secondary"><%= user.id != current_user.id ? "Total #{user.name} owe: " : "Total you owe: "%> <span class="<%= total_owing > 0 ? "text-danger" : "text-success"%>"> $ <%= total_owing %> </span> </h5>
  </div>
</div>

<!-- Total you are owed -->
<div class="row">
  <div class="col">
    <h5 class="text-secondary"><%= user.id != current_user.id ? "Total #{user.name} is owed: " : "Total you are owed: "%><span class="<%= total_owing < 0 ? "text-danger" : "text-success"%>">  $ <%= total_owed %> </span> </h5>
  </div>
</div>

<hr />
<!-- List of friends you owe -->
<div class="row">
  <div class="col">
    
      <h2><%= user.id != current_user.id ? "Friends #{user.name} owe: " : "Friends you owe: "%> </h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Total Owed</th>
          </tr>
        </thead>
        <tbody>
        <% if friends_i_owe.present? %>
          <% friends_i_owe.each do |friend, expenses| %>
            <tr>
              <td>
                <img class="user-img" alt="profile" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="40" />
                <%= friend.name %>
              </td>
              <td><%= friend.email %></td>
              <td>$ <%= expenses.sum(&:amount) %></td>
            </tr>
          <% end %>
        <% else %>
         <tr>
            <td>No data present</td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>

<hr />
<!-- List of friends who owe you-->
<div class="row">
  <div class="col">
    
      <h2><%= user.id != current_user.id ? "Friends who owe #{user.name}" : "Friends who owe you"%> </h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Total Owed</th>
          </tr>
        </thead>
        <tbody>
          <% if friends_who_owe.present? %>
            <% friends_who_owe.each do |friend, expenses| %>
              <tr>
                <td>
                  <!-- Random face icon -->
                  <img class="user-img" alt="profile" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="40" />
                  <%= friend.name %>
                </td>
                <td><%= friend.email %></td>
                <td>$ <%= expenses.sum(&:amount) %></td>
              </tr>
            <% end %>
          <% else %>
          <tr>
            <td>No data present</td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

<hr />

<!-- Activity -->
<% activities = activity.sort_by { |activity| -activity.created_at.to_i } if activity.present?%>
<h4><%= user.id != current_user.id ? "#{user.name} Activity" : "Your Activity"%> </h4>
<% if activities.present? %>
  <% activities.each do |activity| %>
      <% if activity.is_a? (Expense) %>
        <% sharers = activity.expense_sharers %>
        <%= render "/shared/expenses/list_lent_expenses", sharers: sharers, expense: activity, user: user, current_user: current_user %>
      <% else %>
        <%= render "/shared/expenses/list_borrowed_expenses", expense_sharer: activity, user: user, current_user: current_user %>
      <% end %>
  <% end %>
<% end %>
  
